name: Storybook
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install dependencies
        run: npm ci

      - name: Build Storybook
        run: npm run build-storybook

      - name: Upload Storybook Artifact
        uses: actions/upload-artifact@v4
        with:
          name: storybook-static
          path: storybook-static
          retention-days: 1

  test:
    name: test
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Storybook Artifact
        uses: actions/download-artifact@v4
        with:
          name: storybook-static
          path: storybook-static

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Run Storybook tests
        run: |
          npx http-server storybook-static --port 6006 --silent &
          npx wait-on http://localhost:6006
          npm run test-storybook -- --url http://localhost:6006
        env:
          CI: true
